services:
  minecraft:
    restart: on-failure:5
    build:
      context: .
      args:
        MC_VERSION: ${MC_VERSION}
        JAVA_VERSION: ${JAVA_VERSION}
    image: ghcr.io/excoffierleonard/minecraft-server:${MC_VERSION}-fabric
    ports:
      - "${PORT_SERVER:-25565}:25565"
      - "${PORT_RCON:-25575}:25575"
    volumes:
      - data:/data

volumes:
  data: {}