services:
  server:
    restart: on-failure:5
    build:
      context: .
    image: ghcr.io/excoffierleonard/minecraft-server:1.21.11-fabric
    ports:
      - "${PORT_SERVER:-25565}:25565"
      - "${PORT_RCON:-25575}:25575"
    volumes:
      - data:/data

volumes:
  data: {}