name: Build and push docker image

permissions:
  packages: write
  contents: read

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - mc_version: "1.21.11"
            latest: true
          - mc_version: "1.20.6"
            latest: false
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          build-args: |
            MC_VERSION=${{ matrix.mc_version }}
          tags: |
            ghcr.io/${{ github.repository }}:${{ matrix.mc_version }}-fabric
            ${{ matrix.latest && format('ghcr.io/{0}:latest', github.repository) || '' }}
